@model IEnumerable<FanSite.Models.Story>

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Stories</title>
</head>
<body>
    <div>
        <h1>Stories</h1>
        <ul>
            <li><h1><a href="/">Home</a></h1></li>
            <li><h1><a href="../Sources/Index">Sources</a></h1></li>
        </ul>

        <p>Stories</p>
        @foreach (FanSite.Models.Story story in Model)
        {
            @story.StoryTitle <br />
            @story.StoryText <br />
            @story.User.Username<br />
            @if (story.Comments.Count > 0)
            {
                <h3>Comments</h3>
                @foreach (Comment c in story.Comments)
                {
                    @c.CommentText <br />
                }
            }<br />

            @*string url = "CommentForm" + "?title=" + @story.StoryTitle;
            <a href="@url">Add comment</a>*@ <a asp-action="CommentForm" asp-route-title="@story.StoryTitle">Add comment</a>             <br />
        }
        <p><a asp-action="StoryForm">Submit a story</a></p>

        <h3>
            <a href="../Home/History">History</a>
        </h3>
        <h3>
            <a href="../Home/Stories">Stories</a>
        </h3>
    </div>
</body>
</html>